/* Color palette */
$black:       #45484B;
$graylight:   #F4F2F2;
$gray:        #EAEAEA;
$graydark:    #888B8D;
$orange:      #FF5A11;
$yellowlight: #FDE8BE;
$white:       #FFFFFF;

/* Grid */
$grid-width: 81.25rem;

/* Breakpoints */
$mobile:  '(max-width: 768px)';
$tablet:  '(max-width: 1024px)';
$desktop: '(max-width: 1440px)';
